/* -------  General Styles ------- */

body {
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 10px 10px 10px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

p {
    line-height: 1.5em;
    margin: 0;
}

section {
    padding: 20px;
}

section.alternate-background {
    background-color: #00a699;
    color: #fff;
}

main img {
    width: 100px;
}

/* -------  Navigation ------- */

header {
    background-color: #ff385c;
    padding: 20px;
    text-align: center;
}

.logo {
    font-family: "Pangolin", cursive;
    font-size: 72px;
    color: #fff;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    padding-left: 0;
}

header nav ul li {
    list-style-type: none;
    padding: 0 20px 0 0;
}
header nav ul li:last-child {
    padding: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
}

/* -------  Search Form ------- */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #ff385c;
    padding: 10px;
}
form div {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

form label {
    font-weight: bold;
}

form select,
form input {
    margin-bottom: 20px;
    width: 180px;
}

form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
}
/* -------  About ------- */
#about-flex {
    display: flex;
    flex-direction: column;
}
#about-flex-photos {
    display: flex;
    flex-direction: column;
}
#about-flex-photos img {
    width: 100%;
    margin-bottom: 20px;
}

/* -------  Ideas ------- */
#ideas-block img {
    width: 100%;
}
/* -------  Thinkful host ------- */
#host img {
    width: 100%;
}

/* -------  Footer ------- */

footer {
    background-color: #ff385c;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* -------  Media Query ------- */
/* I know that assignment told to set min-width to 480px but in practice everything goes "wrong" around 1130px */
@media all and (min-width: 1130px) {
    /* -------  Navigation ------- */
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    /* -------  Search Form ------- */
    form {
        flex-direction: row;
        justify-content: space-between;
    }
    form div {
        flex-direction: column;
        justify-content: space-between;
        padding: 0 20px;
    }
    form div label {
        padding-bottom: 5px;
    }
    form button {
        max-width: 300px;
    }
    /* ------- About ------- */
    #about-flex {
        flex-direction: row;
        align-items: center;
    }
    #about-flex p {
        flex: 1;
    }
    #about-flex-photos {
        flex: 1;
        margin-right: 20px;
        flex-direction: row;
    }
    #about-flex-photos img {
        box-sizing: border-box;
        padding-right: 10px;
        width: 50%;
        margin-bottom: 0;
    }
    #about-flex-photos img:last-child {
        padding-right: 0;
    }
    /* ------- Ideas ------- */
    #ideas-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    #ideas-block article {
        box-sizing: border-box;
        flex: 0 50%;
        padding: 10px;
    }

    #ideas-block article img {
        width: 100%;
    }
    /* -------  Thinkful host ------- */
    #host img {
        width: 50%;
    }
    #host-block {
        display: flex;
        align-items: center;
    }
}
